asgiref==3.8.1
Brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
cssselect2==0.8.0
distlib==0.3.9
dj-database-url==3.1.2
Django==5.2.3
et_xmlfile==2.0.0
filelock==3.18.0
fonttools==4.58.4
gunicorn==23.0.0
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pillow==11.2.1
pipenv==2025.0.3
platformdirs==4.3.8
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
virtualenv==20.31.2
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.2.3.post1
